// publish headers
.markdown-rendered li h1,
.markdown-rendered li h2,
.markdown-rendered li h3,
.markdown-rendered li h4,
.markdown-rendered li h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-rendered
  div:has(> :is(p, pre, table, ul, ol))
  + div
  > :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--heading-spacing);
}
h1,
.markdown-rendered h1 {
  --font-weight: var(--h1-weight);
  font-variant: var(--h1-variant);
  letter-spacing: -0.015em;
  line-height: var(--h1-line-height);
  font-size: var(--h1-size);
  color: var(--h1-color);
  font-weight: var(--font-weight);
  font-style: var(--h1-style);
  font-family: var(--h1-font);
  margin-block-start: var(--p-spacing);
  margin-block-end: var(--p-spacing);
}
h1 a,
.markdown-rendered h1 a {
  --link-weight: var(--h1-weight);
}
h2,
.markdown-rendered h2 {
  --font-weight: var(--h2-weight);
  font-variant: var(--h2-variant);
  letter-spacing: -0.015em;
  line-height: var(--h2-line-height);
  font-size: var(--h2-size);
  color: var(--h2-color);
  font-weight: var(--font-weight);
  font-style: var(--h2-style);
  font-family: var(--h2-font);
  margin-block-start: var(--p-spacing);
  margin-block-end: var(--p-spacing);
}
h2 a,
.markdown-rendered h2 a {
  --link-weight: var(--h2-weight);
}
h3,
.markdown-rendered h3 {
  --font-weight: var(--h3-weight);
  font-variant: var(--h3-variant);
  letter-spacing: -0.015em;
  line-height: var(--h3-line-height);
  font-size: var(--h3-size);
  color: var(--h3-color);
  font-weight: var(--font-weight);
  font-style: var(--h3-style);
  font-family: var(--h3-font);
  margin-block-start: var(--p-spacing);
  margin-block-end: var(--p-spacing);
}
h3 a,
.markdown-rendered h3 a {
  --link-weight: var(--h3-weight);
}
h4,
.markdown-rendered h4 {
  --font-weight: var(--h4-weight);
  font-variant: var(--h4-variant);
  letter-spacing: 0.015em;
  line-height: var(--h4-line-height);
  font-size: var(--h4-size);
  color: var(--h4-color);
  font-weight: var(--font-weight);
  font-style: var(--h4-style);
  font-family: var(--h4-font);
  margin-block-start: var(--p-spacing);
  margin-block-end: var(--p-spacing);
}
h4 a,
.markdown-rendered h4 a {
  --link-weight: var(--h4-weight);
}
h5,
.markdown-rendered h5 {
  --font-weight: var(--h5-weight);
  font-variant: var(--h5-variant);
  letter-spacing: 0.015em;
  font-size: var(--h5-size);
  line-height: var(--h5-line-height);
  color: var(--h5-color);
  font-weight: var(--font-weight);
  font-style: var(--h5-style);
  font-family: var(--h5-font);
  margin-block-start: var(--p-spacing);
  margin-block-end: var(--p-spacing);
}
h5 a,
.markdown-rendered h5 a {
  --link-weight: var(--h5-weight);
}
h6,
.markdown-rendered h6 {
  --font-weight: var(--h6-weight);
  font-variant: var(--h6-variant);
  letter-spacing: 0.015em;
  font-size: var(--h6-size);
  line-height: var(--h6-line-height);
  color: var(--h6-color);
  font-weight: var(--font-weight);
  font-style: var(--h6-style);
  font-family: var(--h6-font);
  margin-block-start: var(--p-spacing);
  margin-block-end: var(--p-spacing);
}
h6 a,
.markdown-rendered h6 a {
  --link-weight: var(--h6-weight);
}
hr {
  border: none;
  border-top: var(--hr-thickness) solid;
  border-color: var(--hr-color);
  margin: 2rem 0;
}
.markdown-rendered hr {
  border: none;
  border-top: var(--hr-thickness) solid;
  border-color: var(--hr-color);
}
iframe {
  border: 0;
}